# Data Science Tools and Ecosystem

**Objectives**

- List popular languages for Data Science
- List of open source tools
- Libraries for Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy librabries
3. Scikit-learn library

| Data Science Tools |
| ------------------ |
| MySQL |
| Git |
| Apache Atlas |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author name
Trang